<table class="table table-hover">
	<tr>
		<td width="70px">
			<a href="{{ url_for('user', username=listing.owner.username) }}">
				<img src="{{ listing.owner.avatar(49) }}"></td>
			</a>
		</td>
		<td>
			<a href="{{ url_for('view_listing', listing_id=listing.id) }}" style="font-size: 150%">
				{{ listing.title }}
			</a>
			<br>
			Submitted by: 
			<a href="{{ url_for('user', username=listing.owner.username) }}">
				{{ listing.owner.username }}
			</a>
			<span style="float:right;">
				{% for tag in listing.tags %}
					<a href="{{ url_for('index', tags=tag.tag) }}" class="btn btn-primary btn-sm" role="button"> #{{ tag.tag }} </a>
				{% endfor %}
			</span>
		</td>
	</tr>
</table>