{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
	<h1>{{ listing.title }}</h1>
	<h5>
		Created by: <a href="{{ url_for('user', username=listing.owner.username) }}"> {{ listing.owner.username }} </a>
		{% if current_user in listing.members %}
			<br>Creator email: {{listing.owner.email}}
		{% endif %}
	</h5>
	<hr style="border-color: #000000">
	<div>
		<p class="lead">{{ listing.body }}</p>
		<h5>Desired group size: {{ listing.desired_size }}</h5>
		<hr style="border-color: #000000">
		<h5>Members:
		{% for user in listing.members %}
			<a href="{{ url_for('user', username=user.username) }}"> {{ user.username }} </a>
		{% endfor %}
		</h5>
		<h5>Tags:
		{% for tag in listing.tags %}
			{% include '_tag.html' %}
		{% endfor %}
		</h5>
	</div>
	<br>
		<div class="row">
			<div class="col-md-8">
				{{ wtf.quick_form(form) }}
			</div>
		</div>
	<br>
{% endblock %}